<div class="signup-form">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
    </div>
    <div>
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}    
</div>

<script>
    $('form[name = "reply"]').submit(function(e) {
        e.preventDefault();
        var form = $(this); 
        var father_div = $(form).parents().eq(1);
        var id = father_div.attr('data-id');
        var formSerialize = form.serialize();
        var url = "{{ path('comment_reply', { 'parent': 0}) }}";
        url = url.replace("0", id);
        $.ajax({
            url: url,
            type: 'POST',
            data:  formSerialize,
            mimeType:"multipart/form-data",
            dataType: 'json',
            success: function(data)
            {
                location.reload();
            }
        });
        return false;
    }); 
    
    $('form[name = "edit"]').submit(function(e) {
        e.preventDefault();
        var form = $(this); 
        var father_div = $(form).parents().eq(1);
        var id = father_div.attr('data-id');
        var formSerialize = form.serialize();
        var url = "{{ path('comment_edit', { 'comment': 0}) }}";
        url = url.replace("0", id);
        $.ajax({
            url: url,
            type: 'POST',
            data:  formSerialize,
            mimeType:"multipart/form-data",
            dataType: 'json',
            success: function(data)
            {
                location.reload();
            }
        });
        return false;
    }); 
</script>

        