{# app/Resources/views/header.html.twig #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Главная</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/prettyPhoto.css" rel="stylesheet">
        <link href="/css/price-range.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/plugin.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.scrollUp.min.js"></script>
        <script src="/js/price-range.js"></script>
        <script src="/js/main.js"></script>
        <script>
    
    $(document).ready(function(){
        $("#fb_logout").click(function() {
            FB.init({ 
                appId:'{{ facebookClientId }}', cookie:true, 
                status:true, xfbml:true
            });

            FB.getLoginStatus(function(response) {
                if (response && response.status === 'connected') {
                    FB.logout(function(response) {
                        deleteCookie("fblo_{{ facebookClientId }}");
                        window.location.replace("{{ path('fos_user_security_logout') }}"); 
                    });
                } else {
                    window.location.replace("{{ path('fos_user_security_logout') }}"); 
                }
            });

            function deleteCookie(name) {
                document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }
        });

    });

    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
   }(document));


</script>
    </head><!--/head-->

    <body>
        <div class="page-wrapper">
            <header id="header"><!--header-->
               <div class="header-middle"><!--header-middle-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="logo pull-left"><h3>Тестовое задание</h3></div>
                            </div>
                            <div class="col-sm-8">
                                <div class="shop-menu pull-right">
                                    <ul class="nav navbar-nav">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <li><a id="fb_logout" href="#">
                                                <i class="fa fa-unlock"></i>{{ 'Выход'|trans({}, 'FOSUserBundle') }}
                                            </a></li>
                                        {% endif %}    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/header-middle-->
            </header><!--/header-->

               

