{% macro child_comments(comments, user) %}
    <ul>
    {% for comment in comments %}
        <li id="list_{{ comment.id }}">
            <div id="comment_body_{{ comment.id }}" class="col-md-12 blog-post" data-id="{{ comment.id }}">
                <div class="post-info">
                    <span>{{ comment.date|date("Y-m-d H:i") }} / by <b>{{ comment.user }}:</b></span>
                    {% if user is not null and user.id == comment.userid %}
                        <a href="#" class="comments_update" data-id="{{ comment.id }}">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a href="#" class="comments_delete" data-id="{{ comment.id }}" title="del">
                            <i class="fa fa-times"></i>
                        </a>
                    {% endif %}     
                </div>  
                <p>{{ comment.content }}</p>                          			
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}    
                    <a href="" class="button button-style button-anim fa fa-long-arrow-right" data-id="{{ comment.id }}">
                        <span>Ответить</span>
                    </a>  
                {% endif %}    
            </div>    
            <div id="form_{{ comment.id }}" data-id="{{ comment.id }}"></div>
            {% if comment.children %}
                    {{ _self.child_comments(comment.children, user) }}
            {% endif %}
        </li>    
    {% endfor %}
    </ul>
{% endmacro %}

                                                              