{% trans_default_domain 'FOSUserBundle' %}
  
<div class="features_items">
    <h2 class="title text-center">Выберите тип регистрации</h2>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}">
                        <img src="/images/registration/facebook.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a id="google_touch" href=""><img src="/images/registration/google_plus.jpg" alt="" /></a>
                    <div id="google" class="signup-form" style="display:none">
                        <p>Извините, но данный сервис временно недоступен! Приносим свои извинения</p>
                    </div>
                </div>
            </div>
        </div>
    </div>                
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <a id="vk_touch" href=""><img src="/images/registration/vk.jpg" alt="" /></a>
                    <div id="vk" class="signup-form" style="display:none">
                        <p>Извините, но данный сервис временно недоступен! Приносим свои извинения</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

<script>
    $(document).ready(function(){
        $("#google_touch").click(function() {
            $("#google").slideToggle( "fast" );
            return false;
        });
    });
    
    $(document).ready(function(){
        $("#vk_touch").click(function() {
            $("#vk").slideToggle( "fast" );
            return false;
        });
    });
</script>     