{% include "header.html.twig" %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                {% block fos_user_content %}
                {{ include('@FOSUser/Security/login_content.html.twig') }}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
</section>


{% block footer %}
{% include "footer.html.twig" %}
{% endblock footer %}

