{% include ('header.html.twig') %}

<section>
    <div class="container">
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include "form/comment_form.html.twig" with { 'form': form } %}
            {% else %}
                <p>Для публикации комментариев Вам необходимо выполнить <a href="{{ path('fos_user_security_login') }}">авторизацию</a></p>
            {% endif %}
            {% import "macros/recursive_comments.html.twig" as macros %}
                {{ macros.child_comments(comments, user) }}
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        $(".comments_update").click(function () {
            var id = $(this).attr("data-id");
            var url = "{{ path('comment_edit', { 'comment': 0}) }}";
            url = url.replace("0", id);
            $.ajax({
                type: 'post',
                url: url ,
                success: function (data) {
                    $("#comment_body_"+id).html(data.html);
                }
            });
            return false;    
        });
    });     
    
    $(document).ready(function(){
        $(".comments_delete").click(function () {
            var id = $(this).attr("data-id");
            var url = "{{ path('comment_delete', { 'comment': 0}) }}";
            url = url.replace("0", id);
            $.ajax({
                type: 'post',
                url: url ,
                success: function (data) {
                    $("#list_"+id).html(data.html);
                }
            });
            return false;    
        });
    });
    
    $(document).ready(function(){
        $(".fa-long-arrow-right").click(function () {
            var id = $(this).attr("data-id");
            var url = "{{ path('comment_reply', { 'parent': 0}) }}";
            url = url.replace("0", id);
            $.ajax({
                type: 'post',
                url: url ,
                success: function (data) {
                    $("#form_"+id).html(data.html);
                }
            });
            return false;    
        });
    });  
</script>

{% include ('footer.html.twig') %}